.hover-background {
    background: $color__background-transparent;
    backdrop-filter: blur(3px);
}

.split {
    display: flex;
    flex-direction: column;
    place-content: space-evenly;
    gap: 1em;
    > * {
        flex: 1;
    }
}
@media screen and (min-width: 37.5em) {
    .split {
        flex-direction: row;
        gap: 0;
    }
}