.hover-background {
    background: $color__background-transparent;
    backdrop-filter: blur(3px);
}

.split {
    display: flex;
    flex-direction: column;
    place-content: space-evenly;
    gap: 1em;
    > * {
        flex: 1;
    }
}
@media screen and (min-width: 37.5em) {
    .split {
        flex-direction: row;
        gap: 0;
    }
}

.vignette-radial::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0; left: 0; bottom: 0; right: 0;
    background: radial-gradient(circle, transparent 30%, $color__background-transparent 110%);
    pointer-events: none;
  }