.main-navigation {
	display: block;
	margin-left: auto;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-right: 2em;

		gap: 2em;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__text-main;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		position: fixed;
		// width: 100%;
		width: 94vw;
		// max-width: $size__site-main-column-big-screen;
		z-index: 5;
		top: 50%;
		left: 3vw;
		// margin: auto;

		display: grid;
		grid-template-rows: 100%;
		grid-template-columns: auto 1fr auto;

	}

	.nav-previous, .nav-next {
		// flex: 1 0 50%;
		a {
			background-color: $color__background-transparent;
			padding: .35em;
			margin: .15em;
			border-radius: 50%;
			font-size: 1.8rem;
		}
	}

	.nav-previous {
		left: 0;
	}

	.nav-next {
		text-align: end;
		right: 0;
	}

}
