body {
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	background-repeat: no-repeat;
	background-size: cover;
    background-position: 50% 0;
	position: relative;
}
@media screen and (min-width: 37.5em) {
	body {
		background-position: center center;
	}
}
html, body.post, body.page { margin: 0; height: 100%; width: 100%; }

