.site-branding {
    display: flex;
    align-items: center;
    gap: 1em;
}
.site-header {
    // padding: 0.25rem 1rem;
    .subwp-wrapper {
        display: flex;
        align-items: center;
        gap: 1em;
    }
}
.site-title a { 
    color: $color__text-main;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
.site-branding {
    >div p {
        margin: 0;
        font-size: .8em;
    }
}