.post, .page { margin: 0; height: 100%;}
.site {
    > * {
        margin: 0;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100%;

    .site-header {
        flex: 0;
    }

    .site-main {
        flex: 1;
        padding: 0 1em;
        p > a {
            background: $color__background-transparent;
            padding: .35em .75em;
        }

        
    }
    
    .site-footer {
        flex: 0;
    }
}

@media screen and (min-width: 37.5em) {
    .site .site-main {
        margin: auto;
        padding: 0;
        width: 90vw;

    }
}

// @import "no-sidebar";

