.post, .page { margin: 0; height: 100%;}
.site {
    > * {
        margin: 0;
    }

    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    position: relative;
    z-index: 2;

    .site-header {
    }

    .site-main {
        padding: 0 1em;
        p > a {
            background: $color__background-transparent;
            padding: .35em .75em;
        }

        
    }
    
    .site-footer {
    }
}

@media screen and (min-width: 37.5em) {
    .site .site-main {
        margin: auto;
        padding: 0;
        width: 90vw;

    }
}

// @import "no-sidebar";

