.post, .page { margin: 0;}
.site {
    margin: 0;
    min-height: 100%;
    position: relative;
    z-index: 2;
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    .site-header {
    }

    .site-main {
        padding: 0 1em;
        p > a {
            text-decoration: underline;
            font-weight: 100;
            color: $color__text-main;
        }
    }
    
    .site-footer {
    }
}

@media screen and (min-width: 37.5em) {
    .site .site-main {
        margin: auto;
        padding: 0 4em;
        width: 90vw;

        p {
            max-width: 65ch;
            line-height: 160%;
        }
    }
}

// @import "no-sidebar";

