$clr--primary-100: hsla(38, 30, 90, 100%);
$clr--primary-200: hsla(38, 20, 68, 100%);
$clr--primary-700: hsla(38, 20, 40, 100%);
$clr--primary-900: hsla(38, 30, 5, 100%);

$clr--accent-700: hsla(38, 30, 48, 100%);
$clr--accent-900: hsla(38, 30, 15, 100%);



$color__background-body: $clr--primary-900;
$color__background-screen: $clr--primary-200;
$color__background-hr: $clr--primary-700;
$color__background-button: $clr--primary-900;
$color__background-pre: $clr--primary-200;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $clr--primary-200;
$color__link-visited: $clr--primary-200;
$color__link-hover: $clr--primary-100;
$color__text-main: $clr--primary-100;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
